/*
	Comment
*/

#navi{
	height: 0px;
	width: 50%;
	color: #DEF3FA;
	border-bottom-style: dashed;
	text-align: center;
	display: inline-block;
}
body {
	background: lightblue;
	background: linear-gradient(lightblue, white);
	text-align: center;
}
article{
	text-align: justify;
	width: 600px;
	margin: auto;
	margin-bottom: 50px;
}
nav{
	background: #6889a8;
	border-radius: 15px;
	width: 500px;
	margin: auto;
	height: 50px;
	line-height: 3.0;
	color: white;
	margin-top: 10px;
	margin-bottom: 10px;
}
table, th, td{
	margin: auto;
	border: 2px solid black;
}
th{
	height: 50px;
}